<% layout('layouts/boilerplate') %>
    <h1>new</h1>


    <form action="/new" method="post">
        <div>
            <label for="title">title</label>
            <input type="text" id="title" name="name">
        </div>

        <div>
            <label for=" location">location</label>
            <input type="number" id='location' name="age">
        </div>
        <button>click</button>
        <br><br>
        <a href="/show">home</a>